<h1>Data Science Tools and Ecosystem</h1>

#### In this notebook, Data Science Tools and Ecosystem are summarized.

<h5>Some of the popular languages that Data Scientists use are:</h5>
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Julia</li>
  <li>Scala</li>
</ol>

<h5>Some of the commonly used libraries used by Data Scientists include:</h5>
<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Seaborn</li>
  <li>Scikit-learn</li>
  <li>TensorFlow</li>
  <li>PyTorch</li>
  <li>SciPy</li>
  <li>StatsModels</li>
  <li>NLTK (Natural Language Toolkit)</li>
</ol>

<table border="1" style="float: left; ">
  <tr>
    <th  style="font-size: 16px;">Data Science Tools</th>
  </tr>
  <tr>
    <td style="float: left; ">Jupyter Notebook</td>
  </tr>
  <tr>
    <td style="float: left; ">Google Colab</td>
  </tr>
  <tr>
    <td style="float: left; ">RStudio</td>
  </tr>
    <tr>
    <td style="float: left; ">IBM Watson jupyter</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
a = 200 / 60
print(" 200 Minutes to hours",int(a))

 200 Minutes to hours 3

<b>Objectives:</b>
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Julia</li>
  <li>Scala</li>
  <li>MATLAB</li>
  <li>JavaScript</li>
</ul>

<H2>Author</H2>
SAM JOEL D